.headerWrapper {
  width: 100%;
  height: 3rem;
  display: flex;
  position: fixed;
  padding: 0 1rem;
  z-index: 1000;
}

.header {
  width: 100%;
  max-width: 1500px;
  height: 100%;
  margin: 0 auto;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); /* Safari 대응 */
}

/* 로고 영역 */
.logoArea {
  width: 30%;
  padding-left: 1rem;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  color: var(--text-color);
  cursor: pointer;
}

.logo span span {
  font-size: 1rem;
  font-weight: 500;
}

/* 메뉴 영역 */
.navArea {
  width: 50%;
  display: flex;
  justify-content: center;
}

.navArea ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

.navArea ul li a {
  font-size: 1rem;
  font-weight: 500;
  margin: 0 1rem;
}

/* 유틸 버튼 영역 */
.buttonArea {
  width: 20%;
  justify-content: flex-end;
  display: flex;
  color: var(--text-color);
  font-size: 0.875rem;
  font-weight: 100;
  gap: 0.2rem;
  align-items: center;
  padding-right: 1rem;
}

.utilButton {
  color: var(--text-color);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 0.1rem;
}

.utilButton:hover {
  background-color: initial;
}

@media (max-width: 1024px) {
  .headerWrapper {
    padding: 0 0.2rem;
  }

  .navArea ul {
    gap: 1rem;
  }

  .navArea ul li a {
    margin: 1rem;
  }

  .buttonArea {
    padding-right: 0.5rem;
  }
}

@media (max-width: 500px) {
  .logo span span {
    font-size: 0.9rem;
  }

  .navArea ul li a {
    margin: 0.1rem;
    font-size: 0.9rem;
  }

  .logo {
    pointer-events: none;
  }
}
